# vim:expandtab

on early-boot
    setprop sys.usb.config mtp,adb
    setprop ro.tw_has_dualboot 1
    wait /dev/block/mmcblk0p19
    wait /dev/block/mmcblk0p20
    wait /dev/block/mmcblk0p24
    wait /dev/block/mmcblk0p25
    # load dualboot.system & dualboot.dualdata
    exec /sbin/dualboot -ll load
    exec /sbin/repartition -ll loadsize
